.home-main {
    background-image: url('./Images/background.png');
    background-size: cover; /* or 'contain' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    /* Add any other styling you need */
    /* Make sure to adjust other styles as needed for visibility */
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
  }
  .flight-search-container {
    margin: 50px auto; /* Center the box horizontally */
    width: 80%; /* Adjust the width as needed */
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 8px 8px 10px rgba(69, 67, 67, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribute items evenly */
}

.booking-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.source-destination-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.departure-div,
.arrival-div,
.depart-date-div,
.return-date-div,
.passenger-count-div {
    flex: 0 0 40%; /* Adjust the width as needed */
    margin: 10px;
}


.date-select {
    width: 100%;
}

.adult-div,
.child-div {
    flex: 0 0 48%;
    margin: 10px;
}

.seatClass {
    width: 100%;
    margin: 15px;
}

.form-btn {
    width: 100%;
    text-align: center;
}



@media (max-width: 900px) {
.home-main{
    flex-direction: column;
    height: 150vh;
    padding-top: 20%;
    justify-content: flex-start;
}
.background-img {
    width: 100%;
    height: 100%;
  }
.home-left,.flight-search-container{
    margin: 10px;
    width: 90%;
    height: 35%;
}
.msg{
    font-size: 40px;
    color: rgb(10, 55, 88);
    text-shadow: 5px 5px 4px rgba(33, 46, 70, 0.5);
}

.more-msg{
    font-size: 22px;
}
.booking-form-container{
    margin: 10px;
}
.source-destination-div{
    flex-direction: column;
}
.departure-div,.arrival-div,.date-select{
    width: 90%;
}
.passenger-count-div{
    flex-direction: column;
}
.adult-div,.child-div{
    margin: 10px;
}
}

@media (min-height: 900px) {
    .home-main{
        flex-direction: column;
        height: 110vh;
        padding-top: 20%;
        justify-content: flex-start;
    }
    .home-left,.flight-search-container{
        margin: 10px;
        width: 90%;
        height: 25%;
    }
    .msg{
        font-size: 40px;
        
    }
    
    .more-msg{
        font-size: 22px;
    }
    .booking-form-container{
        margin: 10px;
    }
    .source-destination-div{
        flex-direction: column;
    }
    .departure-div,.arrival-div,.date-select{
        width: 40%;
    }
    .passenger-count-div{
        flex-direction: column;
    }
    .adult-div,.child-div{
        margin: 10px;
    }
    }
    